* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: gray;
    min-height: 100vh;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    text-align: center;
}

header h1 {
    text-align: center;
}

.blogList {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #000;
}

.post {
    background-color: lightcoral;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    margin: 20px 0;
}

.post img {
    width: 50%;
    margin: 10px auto;
    display: block;
  }

/* media query */

@media screen and (min-width:768px) {
    .post {
        width: 50%;
        display: inline-block;
    }
}

@media screen and (min-width:992px) {
    .post {
        width: 35%;
        display: inline-block;
    }
}

@media screen and (min-width:1440px) {
    .post {
        width: 25%;
        display: inline-block;
    }
}